{% extends 'layout.twig' %}

{% block body %}
<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb padding-y-120">
    <img src="assets/images/thumbs/breadcrumb-img.png" alt="" class="breadcrumb__img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb__wrapper">
                    <h2 class="breadcrumb__title"> FAQ</h2>
                    <ul class="breadcrumb__list">
                        <li class="breadcrumb__item"><a href="/" class="breadcrumb__link"> <i class="las la-home"></i> Home</a> </li>
                        <li class="breadcrumb__item"><i class="fas fa-angle-right"></i></li>
                        <li class="breadcrumb__item"> <span class="breadcrumb__item-text"> FAQ </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

<!-- ====================== Faq Section Start ======================= -->
<section class="faq-two padding-y-120">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-gray-100"> 
                <span class="text-gradient fw-semibold">Ask question</span> 
            </span>
            <h2 class="section-heading__title">Let us find the perfect answer for you</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="common-accordion style-two accordion" id="accordionExample">
                    {% for faq in faqs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}" aria-controls="collapse{{ loop.index }}">
                                {{ faq.question }}
                            </button>
                        </h2>
                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-body__desc font-18">{{ faq.answer }}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <p>Aucune question disponible pour le moment.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 ps-lg-4 d-lg-block d-none">
                <div class="faq-two-thumb">
                    <img src="assets/images/thumbs/faq-two-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Faq Section End ======================= -->
{% endblock %}
